APT::Periodic::Unattended-Upgrade "{{ Unattended_Upgrade }}";
APT::Periodic::Update-Package-Lists "{{ Update_Package_Lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ Download_Upgradeable_Packages }}";
APT::Periodic::AutocleanInterval "{{ AutocleanInterval }}";
