{{ warning }}
# https://linux.die.net/man/5/resolv.conf
options timeout:1
options attempts:3

# Max 3 nameservers
# Google
nameserver 8.8.8.8
#nameserver 8.8.4.4

# Cloudflare
nameserver 1.1.1.1

# OpenDNS
nameserver 208.67.222.222
#nameserver 208.67.220.220
